<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Modifier Entreprise | Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <app-header></app-header>

        <!-- ========== Left Sidebar Start ========== -->
        <app-menu></app-menu>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18 text-capitalize">Modifier Entreprise</h4>
                            </div>
                        </div>
                    </div>

                    <!-- end page title -->

                    <div class="row">
                        <form (ngSubmit)="updateEntreprise()" [formGroup]="entrepriseForm">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title mb-4">Informations de l'entreprise</h4>

                                        <div class="mb-3 row">
                                            <label for="nom-input" class="col-md-2 col-form-label">Nom*</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i
                                                            class="mdi mdi-office-building"
                                                            style="color: #556EE6; font-size: 18px;"></i></span>
                                                    <input formControlName="nom" class="form-control" type="text"
                                                        placeholder="Nom de l'entreprise" id="nom-input">
                                                </div>
                                                <div *ngIf="nom?.invalid && nom?.touched" class="text-danger">
                                                    Le nom est obligatoire (minimum 3 caractères)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="email-input" class="col-md-2 col-form-label">Email*</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i class="mdi mdi-email"
                                                            style="color: #0072C6; font-size: 18px;"></i></span>
                                                    <input formControlName="email" class="form-control" type="email"
                                                        placeholder="email@example.com" id="email-input">
                                                </div>
                                                <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                                                    Email valide est obligatoire
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="mdp-input" class="col-md-2 col-form-label">Mot de passe*</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i class="mdi mdi-lock"
                                                            style="color: #F46A6A; font-size: 18px;"></i></span>
                                                    <input formControlName="mdp" class="form-control" type="password"
                                                        placeholder="Mot de passe" id="mdp-input">
                                                </div>
                                                <div *ngIf="mdp?.invalid && mdp?.touched" class="text-danger">
                                                    Mot de passe obligatoire (minimum 3 caractères)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="logoEntreprise-input" class="col-md-2 col-form-label">Logo
                                                Entreprise</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i
                                                            class="mdi mdi-image-filter-hdr"
                                                            style="color: #F46A6A; font-size: 18px;"></i></span>
                                                    <input formControlName="logoEntreprise" class="form-control"
                                                        type="text" placeholder="URL du logo" id="logoEntreprise-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="photoCouverture-input" class="col-md-2 col-form-label">Photo de
                                                Couverture</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i
                                                            class="mdi mdi-image-area"
                                                            style="color: #34C38F; font-size: 18px;"></i></span>
                                                    <input formControlName="photoCouverture" class="form-control"
                                                        type="text" placeholder="URL de la photo de couverture"
                                                        id="photoCouverture-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="urlEntreprise-input" class="col-md-2 col-form-label">URL
                                                Entreprise</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i
                                                            class="mdi mdi-link-variant"
                                                            style="color: #4285F4; font-size: 18px;"></i></span>
                                                    <input formControlName="urlEntreprise" class="form-control"
                                                        type="url" placeholder="https://www.exemple.com"
                                                        id="urlEntreprise-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="adresse-input" class="col-md-2 col-form-label">Adresse</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-text bg-white"><i
                                                            class="mdi mdi-map-marker"
                                                            style="color: #EA4335; font-size: 18px;"></i></span>
                                                    <input formControlName="adresse" class="form-control" type="text"
                                                        placeholder="Adresse complète" id="adresse-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <button type="submit" class="btn btn-primary w-md">Modifier</button>
                                            <a href="/listeEntreprise" class="btn btn-secondary w-md ms-2">Annuler</a>
                                        </div>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </form>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <app-footer></app-footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
                <h5 class="m-0 me-2">Settings</h5>
                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-1.jpg" class="img-thumbnail" alt="layout images">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-2.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-3.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch">
                    <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-4.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-5">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-rtl-mode-switch">
                    <label class="form-check-label" for="dark-rtl-mode-switch">Dark RTL Mode</label>
                </div>

            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

</body>

</html>