<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Liste Particulier | Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <app-header></app-header>

        <!-- ========== Left Sidebar Start ========== -->
        <app-menu></app-menu>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18 page-title">Liste Particuliers</h4>

                                <div class="admin-action-bar">
                                    <button class="btn-neon-action" routerLink="/addParticulier">
                                        <i class="bx bx-plus"></i>
                                        <span>Nouveau Particulier</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        .text-cap {
                            text-transform: capitalize;
                        }
                    </style>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <table id="datatable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Email</th>
                                                <th>Téléphone</th>
                                                <th>Adresse</th>
                                                <th>Titre</th>
                                                <th>Département</th>
                                                <th>Entreprise</th>
                                                <th>URL Ent.</th>
                                                <th>Photo Profil</th>
                                                <th>Logo Ent.</th>
                                                <th>Couverture</th>
                                                <th>Couleur</th>
                                                <th>Police</th>
                                                <th>Facebook</th>
                                                <th>X (Twitter)</th>
                                                <th>Instagram</th>
                                                <th>LinkedIn</th>
                                                <th>YouTube</th>
                                                <th>Snapchat</th>
                                                <th>TikTok</th>
                                                <th>Twitch</th>
                                                <th>Yelp</th>
                                                <th>WhatsApp</th>
                                                <th>Signal</th>
                                                <th>Discord</th>
                                                <th>Skype</th>
                                                <th>Telegram</th>
                                                <th>GitHub</th>
                                                <th>GitLab</th>
                                                <th>Mot de passe</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let particulier of listeParticulier">
                                                <td>#{{particulier.id}}</td>
                                                <td>{{particulier.nom}}</td>
                                                <td>{{particulier.email}}</td>
                                                <td>{{particulier.numTelephone}}</td>
                                                <td>{{particulier.adresse}}</td>
                                                <td><span
                                                        class="badge badge-soft-info">{{particulier.titreEmploi}}</span>
                                                </td>
                                                <td>{{particulier.departement}}</td>
                                                <td>{{particulier.nomEntreprise}}</td>
                                                <td>{{particulier.urlEntreprise}}</td>
                                                <td class="text-truncate" style="max-width: 100px;">
                                                    {{particulier.photoDeProfil}}</td>
                                                <td class="text-truncate" style="max-width: 100px;">
                                                    {{particulier.logoEntreprise}}</td>
                                                <td class="text-truncate" style="max-width: 100px;">
                                                    {{particulier.photoCouverture}}</td>
                                                <td>{{particulier.couleur}}</td>
                                                <td>{{particulier.police}}</td>
                                                <td>{{particulier.fbLink}}</td>
                                                <td>{{particulier.xLink}}</td>
                                                <td>{{particulier.instagramLink}}</td>
                                                <td>{{particulier.linkedinLink}}</td>
                                                <td>{{particulier.youtubeLink}}</td>
                                                <td>{{particulier.snapchatLink}}</td>
                                                <td>{{particulier.tiktokLink}}</td>
                                                <td>{{particulier.twitchLink}}</td>
                                                <td>{{particulier.yelpLink}}</td>
                                                <td>{{particulier.whatsappLink}}</td>
                                                <td>{{particulier.signalLink}}</td>
                                                <td>{{particulier.discordLink}}</td>
                                                <td>{{particulier.skypeLink}}</td>
                                                <td>{{particulier.telegramLink}}</td>
                                                <td>{{particulier.githubLink}}</td>
                                                <td>{{particulier.gitlabLink}}</td>
                                                <td>{{particulier.mdp}}</td>
                                                <td>
                                                    <a href="/modifierParticulier/{{particulier.id}}"
                                                        class="btn-soft-edit" title="Modifier">
                                                        <i class="bx bx-edit-alt"></i> Modif.
                                                    </a>
                                                    <button class="btn-soft-delete"
                                                        (click)="DeletePariculier(particulier)" title="Supprimer">
                                                        <i class="bx bx-trash-alt"></i> Suppr.
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <app-footer></app-footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
                <h5 class="m-0 me-2">Settings</h5>
                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>
            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>
            <div class="p-4">
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-1.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-2.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>
                <!-- ... other settings ... -->
            </div>
        </div>
    </div>
    <div class="rightbar-overlay"></div>

</body>

</html>